/*-----------------------------------------------------------------------------
addons.css
Enthält alle zusätzlichen Klassen und Erweiterungen
----------------------------------------------------------------------------*/

#l-mainHeader{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),url(../img/meta/projektheader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m-portfolioItem-image{
    box-shadow: 10px 0 30px rgba(0,0,0,0.15);s
}
